.description{
  font-size: 1.1rem;
  margin: 10px;
  color: #666;
}

.user{
  font-size: 1.1rem;
  margin: 10px;
  color: #666;
}

.date {
  font-size: 1.1rem;
  margin: 10px;
  color: #666;
}

.time {
  font-size: 1.1rem;
  margin: 10px;
  color: #666;
}

.location {
  font-size: 1.1rem;
  margin: 10px;
  color: #666;
}